{% include 'Field_staff_pages/fstaff_header.html' %}

<div class="table text-start align-middle table-bORDERed table-hover mb-0">
    <table class="table text-start align-middle table-bORDERed table-hover mb-0">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Assign Date</th>
                <th>ORDER Amount</th>
                <th>Name</th>
                <th>City</th>
                <th>House</th>
                <th>District</th>
                <th>Pincode</th>
                <th>Place</th>
                <th>Phone</th>
                <th>Status</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for i in q %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ i.Dassign_Date }}</td>
                    <td>{{ i.ORDER.Order_Amount }}</td>
                    <td>{{ i.ORDER.A_Fname }} {{ i.ORDER.A_Lname }}</td>
                    <td>{{ i.ORDER.A_City }}</td>
                    <td>{{ i.ORDER.A_House }}</td>
                    <td>{{ i.ORDER.A_Dist }}</td>
                    <td>{{ i.ORDER.A_Pin }}</td>
                    <td>{{ i.ORDER.A_Place }}</td>
                    <td>{{ i.ORDER.A_Phone }}</td>
                    <td>{{i.Delivery_Status}}</td>
                    
                    <!-- <td>{{ i.ORDER_Status }}</td> -->
                    
                    <td><a href="/fstaff_update_staff/{{ i.id }}" >Update Status</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%include 'footer.html'%}
