{%include 'working_staff_pages/working_staff_header.html'%}
<table class="table table-bordered">
    
        <thead>
            <tr>
                <th>SlNo.</th>
                <th> Customer </th>
                <th>Item </th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>sneha@gmail.com</td>
                <td>sneha</td>
                <td>sebastian</td>
            </tr>
        </tbody>
    </table>
   
    {%include 'footer.html'%}