{%include 'publicpages/publicheader.html'%}
 <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    {% comment %} <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
          <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><span class="text-light fs-2 fw-bold ms-2">Prestige Watch Marketplace</span></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> {% endcomment %}
            {% comment %} <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-2"><a class="nav-link fw-bold active" aria-current="page" href="#collections">WATCHES</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="#store">STORE</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="#contact">CONTACT</a></li>
                <li class="nav-item px-2"><a class="nav-link fw-bold" href="#header">REQUEST VIRTUAL</a></li>
              </ul> {% endcomment %}
              {% comment %} <form class="d-flex"><a class="text-primary" href="#!">
                  <svg class="feather feather-phone-call" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                  </svg></a>
                <div class="ms-4 text-light fw-bold">1 (800) 862 6772 </div>
              </form>
            </div>
          </div>
        </nav>
        <section class="py-0" id="header">
          <div class="bg-holder" style="background-image:url(static/assets/img/gallery/header-bg.png);background-position:right top;background-size:contain;">
          </div>
          <!--/.bg-holder--> {% endcomment %}
  
          <div class="container">
            <div class="row align-items-center min-vh-75 min-vh-xl-100">
              <div class="col-md-8 col-lg-6 text-md-start text-center">
                <h1 class="display-1 lh-sm text-uppercase text-light">From wrist to wrist,   <br class="d-none d-xxl-block" />a legacy in every tick.</h1>
                <div class="pt-4"><a class="btn btn-sm btn-outline-primary me-3" href="log">Login</a><a class="btn btn-sm btn-outline-primary" href="signup">Signup</a></div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-black py-8 pt-0" id="store">
          <div class="bg-holder" style="background-image:url(static/assets/img/gallery/store-bg.png);background-position:left bottom;background-size:contain;">
          </div>
          <!--/.bg-holder-->
  
          <div class="container-lg">
            <div class="row flex-center">
              <div class="col-6 order-md-0 text-center text-md-start"></div>
              <div class="col-sm-10 col-md-6 col-lg-6 text-center text-md-start">
                <div class="col-4 position-relative ms-auto py-5"><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
                <div class="carousel slide carousel-fade" id="carouselExampleFade" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row h-100">
                        <div class="col-12">
                          <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                          <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row h-100">
                        <div class="col-12">
                          <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                          <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row h-100">
                        <div class="col-12">
                          <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                          <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% comment %} <section class="py-0 pb-6" id="collections">
          <div class="container">
            <div class="row h-100">
              <div class="col-lg-7 mt-7">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-0 text-uppercase">Collections</h5>
              </div>
              <div class="col-12">
                <nav>
                  <div class="nav nav-tabs watch-tabs mb-4 justify-content-end" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-latest-tab" data-bs-toggle="tab" data-bs-target="#nav-latest" type="button" role="tab" aria-controls="nav-latest" aria-selected="true">LATEST </button>
                    <button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular" type="button" role="tab" aria-controls="nav-popular" aria-selected="false">POPULAR</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
                    <div class="carousel slide" id="carouselLatest" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselLatest" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselLatest" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">
                    <div class="carousel slide" id="carouselPopular" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row h-100 align-items-center">
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-2.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$650.00</h6>
                                  <h4 class="text-light">ADRIATICA ADR</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-3.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$126.00</h6>
                                  <h4 class="text-light">SEIKO SNZGO7K1</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                              <div class="card bg-black text-white p-6 pb-8"><img class="card-img" src="static/assets/img/gallery/watch-1.png" alt="..." />
                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                  <h6 class="text-primary">$250.00</h6>
                                  <h4 class="text-light">ROAMER RM 220837</h4>
                                </div><a class="stretched-link" href="#"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopular" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselPopular" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> {% endcomment %}
  
{%include 'publicpages/public_footer.html'%}
