<section class="py-6 bg-dark">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center"><img src="static/assets/img/gallery/rado.png" alt="brands" /></div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center"><img src="static/assets/img/gallery/omega-1.png" alt="brands" /></div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center"><img src="static/assets/img/gallery/zenith.png" alt="brands" /></div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center"><img src="static/assets/img/gallery/swatch.png" alt="brands" /></div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->




  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="testimonial">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto text-center my-5">
          <h5 class="fs-3 fs-lg-5 lh-sm mb-0 text-uppercase">what customers are saying</h5>
        </div>
      </div>
      <div class="row flex-center h-100">
        <div class="col-xl-9">
          <div class="carousel slide" id="carouselTestimonials" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 justify-content-center">
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/smith.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">amanda smith</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/sandra-willims.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 justify-content-center">
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/smith.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">Niek Bove</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/sandra-willims.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100 justify-content-center">
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/smith.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">amanda smith</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="card h-100 shadow card-span p-3 bg-black">
                      <div class="card-body">
                        <div class="d-flex align-items-center"><img class="img-fluid" src="static/assets/img/gallery/sandra-willims.png" width="80" alt="testimonials" />
                          <div class="flex-1 ms-4">
                            <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                          </div>
                        </div>
                        <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} <div class="row mt-5 flex-center">
              <div class="col-auto position-relative z-index-2">
                <ol class="carousel-indicators">
                  <li class="active mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="0"></li>
                  <li class="mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"></li>
                  <li class="mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"></li>
                </ol>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->




  <!-- ============================================-->
  <!-- <section> begin ============================-->
  {% comment %} <section class="py-0 pt-7" id="contact">

    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-4 col-xl-3 mb-3">
          <h4 class="lh-lg fw-bold text-light">WATCH</h4>
        </div>
        <div class="col-6 col-sm-4 col-xl-3 mb-3">
          <h5 class="lh-lg fw-bold text-light">MENU</h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Shipping Info</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Refunds</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Order</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Track</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Size Guides</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-4 col-xl-3 mb-3">
          <h5 class="mb-5"></h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Contact Us</a></li>
            <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">my account</a></li>
          </ul>
        </div>
        <div class="col-12 col-xl-3">
          <h5 class="lh-lg fw-bold text-light text-uppercase">Signup For our Latest News</h5>
          <div class="row input-group-icon mb-5">
            <div class="col-12">
              <form class="row row-cols-lg-auto g-0 align-items-center">
                <div class="col-8 col-lg-9">
                  <label class="visually-hidden" for="colFormLabel">Username</label>
                  <div class="input-group">
                    <input class="rounded-end-0 form-control" id="colFormLabel" type="email" placeholder="email address" />
                  </div>
                </div>
                <div class="col-4 col-lg-3">
                  <button class="btn btn-primary rounded-start-0" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom border-700"></div>
      <div class="row flex-center my-3">
        <div class="col-md-6 order-1 order-md-0">
          <p class="my-2 text-800 text-center text-md-start"> Made with&nbsp;
            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#EB6453" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
            </svg>&nbsp;by&nbsp;<a class="text-500" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
          </p>
        </div>
        <div class="col-md-6">
          <div class="text-center text-md-end"><a href="#!"><span class="me-4" data-feather="facebook"></span></a><a href="#!"> <span class="me-4" data-feather="instagram"></span></a><a href="#!"> <span class="me-4" data-feather="youtube"></span></a><a href="#!"> <span class="me-4" data-feather="twitter"></span></a></div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section> {% endcomment %}
  <!-- <section> close ============================-->
  <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="vendors/@popperjs/popper.min.js"></script>
<script src="vendors/bootstrap/bootstrap.min.js"></script>
<script src="vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="vendors/feather-icons/feather.min.js"></script>
<script>
  feather.replace();
</script>
<script src="static/assets/js/theme.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">
</body>

</html>