<!-- 


	<!doctype html>
	<html class="no-js" lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Watch shop | MarketPlace</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/static/custnewtemplate/assets/img/favicon.ico">
	
	
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/flaticon.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/slicknav.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/animate.min.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/themify-icons.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/slick.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/nice-select.css">
		<link rel="stylesheet" href="/static/custnewtemplate/assets/css/style.css">
	</head>
	
	<body>
			    
		<header>
		
			<div class="header-area">
				<div class="main-header header-sticky">
					<div class="container-fluid">
						<div class="menu-wrapper">
				
							<div class="logo">
								<h3><a href="customer_home"><img src="/static/assets/img/favicons/bill.png" height="70px" width="70px" alt=""></a>WATCHES</h3>
							</div>
							
							<div class="main-menu d-none d-lg-block">
								<nav>                                                
									<ul id="navigation">  
										<li><a href="/customer_home">Home</a></li>
										<li><a href="/cust_view_products">Products</a></li>
										<li><a href="/customer_cart">Cart</a></li>
										<li><a href="/cust_view_paid_orders">My orders</a></li>
										<li><a href="/customer_review">Review</a></li>
										
										
											<ul class="submenu">
												<li><a href="shop.html"> Product list</a></li>
												<li><a href="product_details.html"> Product Details</a></li>
											</ul>
										</li>
										<li><a  href="">Sell</a>
											<ul class="submenu">
												<li><a onclick="showPopup()"  href="/cust_sell_itemss">Sell product</a></li>
												<li><a href="/selling_product_status">Status</a></li>
											</ul>
										</li>
										<li><a href="/log">Logout</a></li>
									
										
									</ul>
								</nav>
							</div>
						
							<div class="header-right">
								<ul>
									<li>
										<div class="nav-search search-switch">
											<span class="flaticon-search"></span>
										</div>
									</li>
									<li> <a href="/log"><span class="flaticon-user"></span></a></li>
									<li><a href="/customer_cart"><span class="flaticon-shopping-cart"></span></a> </li>
								</ul>
							</div>
						</div>
					
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		
		</header> -->

		<script>
			function showPopup() {
				
				var confirmation = confirm("Disclaimer:\n\n5% of the total amount claimed by the seller will be granted to the admin.");
				
				
				if (confirmation) {
					window.location.href = "/cust_sell_items";
				} else {
					
					window.history.back();
				}
			}
		</script>
		
		<!DOCTYPE html>
		<html lang="en-US" dir="ltr">
		
		  <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
			<!-- ===============================================-->
			<!--    Document Title-->
			<!-- ===============================================-->
			<title>Elite &amp; Wrist</title>
		
		
			<!-- ===============================================-->
			<!--    Favicons-->
			<!-- ===============================================-->
			<link rel="apple-touch-icon" sizes="180x180" href="/static/customerlatesttemplate/assets/img/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/static/customerlatesttemplate/assets/img/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/static/customerlatesttemplate/assets/img/favicons/favicon-16x16.png">
			<link rel="shortcut icon" type="image/x-icon" href="/static/customerlatesttemplate/assets/img/favicons/favicon.ico">
			<link rel="manifest" href="/static/customerlatesttemplate/assets/img/favicons/manifest.json">
			<meta name="msapplication-TileImage" content="/static/customerlatesttemplate/assets/img/favicons/mstile-150x150.png">
			<meta name="theme-color" content="#ffffff">
		
		
			<!-- ===============================================-->
			<!--    Stylesheets-->
			<!-- ===============================================-->
			<link href="/static/customerlatesttemplate/assets/css/theme.css" rel="stylesheet" />
		
		  </head>
		
		
		  <body>
		
			<!-- ===============================================-->
			<!--    Main Content-->
			<!-- ===============================================-->
			<main class="main" id="top">
			  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
				<div class="container"><a class="navbar-brand d-inline-flex" href="/customer_home"><span class="text-light fs-2 fw-bold ms-2">Elite Wrist</span></a>
				  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				  <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					  <li class="nav-item px-2"><a class="nav-link fw-bold active" aria-current="page" href="/customer_home">Home</a></li>
					  <li class="nav-item px-2"><a class="nav-link fw-bold" href="/customer_cart">Cart</a></li>
					  <li class="nav-item px-2"><a class="nav-link fw-bold" href="/cust_view_paid_orders">My orders</a></li>
					  <!-- <li class="nav-item px-2"><a class="nav-link fw-bold" href="/customer_review">Review</a></li> -->
					  <li class="nav-item px-2"><a class="nav-link fw-bold" href="/selling_product_status">Sold Product Status</a></li>
					  <li class="nav-item px-2"><a class="nav-link fw-bold" href="/log">Logout</a></li>
					  
					</ul>
					<form class="d-flex"><a class="text-primary" href="#!">
						<svg class="feather feather-phone-call" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						  <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
						</svg></a>
					  <div class="ms-4 text-light fw-bold">1 (800) 862 6772 </div>
					</form>
				  </div>
				</div>
			  </nav>
			 
				<!--/.bg-holder-->

			
	