{%include 'customer_pages/customer_header.html' %}
<div class="bg-holder" style="background-image:url(/static/customerlatesttemplate/assets/img/gallery/store-bg.png);background-position:left bottom;background-size:static;">

    <br><br><br><br><br><br>
    <center>
        <form action="#" method="post">
            <table class="table" style="max-width: 500px;height: 250px;">
                <tr>
                    <td><label >Description:</label></td>
                    <td><textarea class="form-control" id="description" required name="description" rows="4" cols="50"></textarea></td>
                </tr>
                <!-- You can add more fields here if needed -->
                <tr>
                    <td align="center" colspan="2"><input type="submit" class="btn btn-primary" name="submit" value="Submit Review"></td>
                </tr>
            </table>
        </form>
        </center>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
