{% include 'customer_pages/customer_header.html' %}
<div class="bg-holder" style="background-image:url(/static/customerlatesttemplate/assets/img/gallery/header-bg.png);background-position:right top;background-size:contain;">
	
<br><br><br>
<style>
    /* Custom table styles */
    table {
        width: 50%;
        margin: auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #000000;
    }

    th {
        background-color: #413e3e;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 4px;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #B98F7d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #e6532e;
    }
</style>

<center>
    <!-- <h1>Delivery Address</h1> -->
    <form id="alternateAddressForm" method="post" style="display: none;">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" value="{{kkk.Customer_Fname}}" required class="form-control" name="fname"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" value="{{kkk.Customer_Lname}}" required class="form-control" name="lname"></td>
            </tr>
            <tr>
                <th>City</th>
                <td><input type="text" value="{{kkk.Customer_City}}" required class="form-control" name="city"></td>
            </tr>
            <tr>
                <th>House</th>
                <td><input type="text" value="{{kkk.Customer_House}}" required class="form-control" name="house"></td>
            </tr>
            <tr>
                <th>District</th>
                <td><input type="text" value="{{kkk.Customer_Dist}}" required class="form-control" name="district"></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" value="{{kkk.Customer_Pin}}" required class="form-control" maxlength="6" name="pincode"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" value="{{kkk.Customer_Place}}" required class="form-control" name="place"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" value="{{kkk.Customer_Phone}}" required class="form-control" name="phone" maxlength="10"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input class="btn btn-danger" type="submit" name="submit"></td>
            </tr>
        </table>
    </form>
</center>

<center>
    <!-- <h1>Alternate Address</h1> -->
    <form id="deliveryAddressForm" method="post">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" required class="form-control" name="fname"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" required class="form-control" name="lname"></td>
            </tr>
            <tr>
                <th>City</th>
                <td><input type="text" required class="form-control" name="city"></td>
            </tr>
            <tr>
                <th>House</th>
                <td><input type="text" required class="form-control" name="house"></td>
            </tr>
            <tr>
                <th>District</th>
                <td><input type="text" required class="form-control" name="district"></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" required class="form-control" maxlength="6" name="pincode"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" required class="form-control" name="place"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" required class="form-control" name="phone" maxlength="10"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input class="btn btn-danger" type="submit" name="alternate"></td>
            </tr>
        </table>
    </form>
    <button id="alternateAddressBtn" class="btn btn-danger">My Address</button>
</center>
</div>
<center>
    
</center>
<script>
    // Function to toggle visibility of delivery and alternate address forms
    function toggleAddressForms() {
        var deliveryAddressForm = document.getElementById("deliveryAddressForm");
        var alternateAddressForm = document.getElementById("alternateAddressForm");

        if (deliveryAddressForm.style.display === "none") {
            deliveryAddressForm.style.display = "block";
            alternateAddressForm.style.display = "none";
        } else {
            deliveryAddressForm.style.display = "none";
            alternateAddressForm.style.display = "block";
        }
    }

    // Event listener for the "Alternate Address" button
    document.getElementById("alternateAddressBtn").addEventListener("click", function() {
        toggleAddressForms();
    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='city']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='phone']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pincode']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='district']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

      });
      $("input[name='house']").on('input', function(e) {
        $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

    });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }
        });            
        $("input[name='Password']").on('input', function(e) {
            
          $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });
    function check() {
        
        if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
            
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
    } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
    }
}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var searchTerm = $(this).val().toLowerCase();
            $(".member-row").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) >= 0);
            });
        });
    });
</script>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
crossorigin="anonymous"></script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{%include 'customer_pages/customer_footer.html' %}