

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-0 pt-7" id="contact">
{% comment %} 
            <div class="container">
              <div class="row">
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                  <h4 class="lh-lg fw-bold text-light">WATCH</h4>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                  <h5 class="lh-lg fw-bold text-light">MENU</h5>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Shipping Info</a></li>
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Refunds</a></li>
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Order</a></li>
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">How to Track</a></li>
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Size Guides</a></li>
                  </ul>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                  <h5 class="mb-5"></h5>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">Contact Us</a></li>
                    <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="#!">my account</a></li>
                  </ul>
                </div> {% endcomment %}
                {% comment %} <div class="col-12 col-xl-3">
                  <h5 class="lh-lg fw-bold text-light text-uppercase">Signup For our Latest News</h5>
                  <div class="row input-group-icon mb-5">
                    <div class="col-12">
                      <form class="row row-cols-lg-auto g-0 align-items-center">
                        <div class="col-8 col-lg-9">
                          <label class="visually-hidden" for="colFormLabel">Username</label>
                          <div class="input-group">
                            <input class="rounded-end-0 form-control" id="colFormLabel" type="email" placeholder="email address" />
                          </div>
                        </div>
                        <div class="col-4 col-lg-3">
                          <button class="btn btn-primary rounded-start-0" type="submit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="border-bottom border-700"></div>
              <div class="row flex-center my-3">
                <div class="col-md-6 order-1 order-md-0">
        
                </div>
                <div class="col-md-6">
                  <div class="text-center text-md-end"><a href="#!"><span class="me-4" data-feather="facebook"></span></a><a href="#!"> <span class="me-4" data-feather="instagram"></span></a><a href="#!"> <span class="me-4" data-feather="youtube"></span></a><a href="#!"> <span class="me-4" data-feather="twitter"></span></a></div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    
    
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->
    
    
    
    
        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="vendors/@popperjs/popper.min.js"></script>
        <script src="vendors/bootstrap/bootstrap.min.js"></script>
        <script src="vendors/is/is.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="vendors/feather-icons/feather.min.js"></script>
        <script>
          feather.replace();
        </script>
        <script src="/static/customerlatesttemplate/assets/js/theme.js"></script>
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">
      </body>
    
    </html>